.header {
  text-align: center;
}
.header img {
  height: 75px;
}
.header nav {
  background: black;
  height: 50px;
  font-size: 20px;
}

nav a {
  line-height: 50px;
  float: left;
  padding: 0 15px;
  color: white;
  text-decoration: none;
}

nav a:hover {
  background: rgba(255, 255, 255);
  color: black;
}
